<main>
  <h1 class="title title--primary"><%= title %></h1>
  <form
    action="/edit/profile/<%= user.id %>/password"
    method="post"
    class="form"
  >
    <p class="form__input-wrapper">
      <label for="current-password">Current password</label>
      <input
        type="text"
        name="currentPassword"
        id="current-password"
        value="<%= locals.fieldValues && fieldValues.currentPassword ? fieldValues.currentPassword : ''; %>"
        class="form__input <%= locals.errors && errors.currentPassword ? 'error' : ''; %>"
        required
      />
      <label for="current-password" class="form__label error">
        <%= locals.errors && errors.currentPassword ? errors.currentPassword.msg
        : ""; %>
      </label>
    </p>
    <p class="form__input-wrapper">
      <label for="new-password">New password</label>
      <input
        type="password"
        name="newPassword"
        id="new-password"
        value="<%= locals.fieldValues && fieldValues.newPassword ? fieldValues.newPassword : ''; %>"
        class="form__input <%= locals.errors && errors.newPassword ? 'error' : ''; %>"
        required
      />
      <label for="new-password" class="form__label error">
        <%= locals.errors && errors.newPassword ? errors.newPassword.msg : "";
        %>
      </label>
    </p>
    <p class="form__input-wrapper">
      <label for="confirm-new-password">Confirm new password</label>
      <input
        type="text"
        name="confirmNewPassword"
        id="confirm-new-password"
        value="<%= locals.fieldValues && fieldValues.confirmNewPassword ? fieldValues.confirmNewPassword : ''; %>"
        class="form__input <%= locals.errors && errors.confirmNewPassword ? 'error' : ''; %>"
        required
      />
      <label for="confirm-new-password" class="form__label error">
        <%= locals.errors && errors.confirmNewPassword ?
        errors.confirmNewPassword.msg : ""; %>
      </label>
    </p>
    <button type="submit" class="btn btn--submit">Update Password</button>
  </form>
</main>
