<main class="login">
  <div class="hero">
    <h1 class="hero__title">Login to Clubhouse</h1>
    <p class="hero__description">Join Clubs, create clubs, post messages and farm your Aura.</p>
  </div>
  <div>
    <form action="/login" method="post" class="form">
      <p class="form__input-wrapper">
        <label for="email" class="form__label">
          Email address<span class="required" title="required">*</span> :
        </label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="johndoe21@email.com"
          maxlength="320"
          value="<%= locals.fieldValues ? fieldValues.email : ''; %>"
          required
          class="form__input <%= locals.errors && errors.email ? 'error' : ''; %>"
        />
        <label id="email" class="form__label error">
          <%= locals.errors && errors.email ? errors.email : ""; %>
        </label>
      </p>
      <p class="form__input-wrapper">
        <label for="password" class="form__label">
          Password<span class="required" title="required">*</span> :
        </label>
        <input
          type="password"
          id="password"
          name="password"
          minlength="8"
          maxlength="32"
          value="<%= locals.fieldValues ? fieldValues.password : ''; %>"
          required
          class="form__input <%= locals.errors && errors.password ? 'error' : ''; %>"
        />
        <label id="password" class="form__label error">
          <%= locals.errors && errors.password ? errors.password : ""; %>
        </label>
      </p>
      <button type="submit" class="btn btn--submit">Login</button>
    </form>
    <p class="login__signup-paragraph">Not a member yet? <a href="/sign-up">Register here</a>.</p>
  </div>
</main>
