<main class="notifications">
  <h1 class="title title--primary"><%= title %></h1>
  <ul class="notifications__list">
    <% notifications.forEach((notification) => { %>
      <li class="notification <%= notification.is_read ? '' : 'unread' %>">
        <p class="notification__message-wrapper">
          <a 
            href="<%= notification.link %>"
            data-name="notification-link"
            data-notification-id="<%= notification.id %>"
            class="notification__message"
          >
            <%= notification.message %>
          </a>
          <time class="notification__time" datetime="<%= notification.date %>">
            <%= locals.formatDateDistanceToNow(notification.date) %>
          </time>
        </p>
      </li>
    <% }); %>
  </ul>

  <script>
    const markAsReadAsync = async (notificationId) => {
      const url = "/profile/<%= user.id %>/notification/mark-read"

      try {
        const response = await fetch(url, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({notificationId}), // only works if 'express.json()' middleware is set 
        })

        if (!response.ok) {
          throw new Error("Failed to mark notification as read.")
        } 
      } catch (err) {
        throw err
      }
    }

    const notificationEls = document.querySelectorAll("[data-name='notification-link']")
    notificationEls.forEach((notificationEl) => {
      notificationEl.addEventListener(
        "click", 
        () => {
          markAsReadAsync(notificationEl.dataset.notificationId)
        },
      )
    })
  </script>
</main>

